.App {
  text-align: center;
}

.Background {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.layer-curtain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's above other content */
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.Button {
  background-color: #282c34;
  padding: 7px;
  border-radius: 4px;
  color: #ffffff;
  border: 2px solid #000000;
  font-weight: bolder;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  transition-duration: 0.4s;
}
.Button:hover {
  background-color: #000000;
}

.ButtonWhite {
  background-color: #ffffff;
  padding: 7px;
  border-radius: 4px;
  color: #000000;
  border: 2px solid #bfbfbf;
  font-weight: bolder;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  transition-duration: 0.4s;
}
.ButtonWhite:hover {
  background-color: #bfbfbf;
}

.RemoveButton {
  background-color: #282c34;
  padding: 7px;
  border-radius: 4px;
  color: #ffffff;
  border: 2px solid #000000;
  font-weight: bolder;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition-duration: 0.4s;
  display: 'flex';
  align-items: center;
  vertical-align: middle;
}
.RemoveButton:hover{
  background-color: #000000;
}

.mr-5 {
  margin-right: 5rem;
}
.mr-3 {
  margin-right: 3rem;
}
.mr-1 {
  margin-right: 1rem;
}

.ml-5 {
  margin-left: 5rem;
}
.ml-3 {
  margin-left: 3rem;
}
.ml-1 {
  margin-left: 1rem;
}

.mt-5 {
  margin-top: 5rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-1 {
  margin-top: 1rem;
}

table {
  border: 2px solid lightblue;
  border-radius: 2px;
  width: 800px;
  height: 200px;
}
th {
  border-bottom: 2px solid lightblue;
}
td {
  border-left: 2px solid lightblue;
  text-align: center;
  vertical-align: middle;
}
